# Character Waveform (256 Elements)
record(waveform, "$(P)CWAVE") {
  field(DESC, "Character Waveform")
  field(SCAN, "Passive")
  field(FTVL, "CHAR")
  field(NELM, "256")
}

# Double Waveform (200 Elements)
record(waveform, "$(P)DWAVE") {
  field(DESC, "Double Waveform")
  field(SCAN, "Passive")
  field(FTVL, "DOUBLE")
  field(NELM, "200")
}

# String Waveform (10 Elements)
record(waveform, "$(P)SWAVE") {
  field(DESC, "String Waveform")
  field(FTVL, "STRING")
  field(NELM, "10")
}

# Binary Input
record(bi, "$(P)BI") {
  field(DESC, "Binary Input")
}

# Binary Output
record(bo, "$(P)BO") {
  field(DESC, "Binary Output")
  field(VAL, "12")
}

# String Output 1
record(stringout, "$(P)SOUT1") {
  field(DESC, "String Output 1")
  field(VAL, "ONE")
}

# String Output 2
record(stringout, "$(P)SOUT2") {
  field(DESC, "String Output 2")
  field(VAL, "TWO")
}

# String Output 3
record(stringout, "$(P)SOUT3") {
  field(DESC, "String Output 3")
  field(VAL, "THREE")
}

# String Output 4
record(stringout, "$(P)SOUT4") {
  field(DESC, "String Output 4")
  field(VAL, "FOUR")
}

# String Output 5
record(stringout, "$(P)SOUT5") {
  field(DESC, "String Output 5")
  field(VAL, "FIVE")
}

# Analog Output
record(ao, "$(P)AO") {
  field(PREC, "6")
  field(DESC, "Analog Output")
}

# MBBI (Test the behavior if there is no string value for the mbbi record)
record(mbbi, "$(P)MBBI") {
  field(DESC, "MBBI Test Record")
  field(SCAN, "Passive")
  field(VAL, "0")
  field(ZRVL, "0")
  field(ONVL, "1")
}

# MBBI (Test mbbi record that has correct values)
record(mbbi, "$(P)MBBI2") {
  field(DESC, "MBBI Test Record")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(FRVL, "4")
  field(ZRST, "one")
  field(ONST, "two")
  field(TWST, "three")
  field(THST, "four")
}
